#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.countDisplay {
  font-size: 15rem;
}

.countdowns {
  display: flex;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  gap: 5rem;
}


